<html>
  <body>
    This is my super fucking sweet html page!  ...chicken fucker!
    <br/> <br/> 
    The vHost I am server is: <%= @servername %><br/><br/>  

    My nginx_server_file is: <%= @nginx_server_file %> <br/>
    my nginx_conf_file is: <%= @nginx_conf_file %> <br/>
    My Operating system is: <%= @operatingsystem %> <br/>
    My IP address is: <%= @ipaddress %> <br/>
  </body>
</html>
